nodeRed/flows.json
[{"id":"957a4843.0b482","type":"tab","label":"Device","disabled":false,"info":""},{"id":"7beb4e98.b02f18","type":"tab","label":"Gateway","disabled":false,"info":""},{"id":"64378259.0e3e04","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"9e2bb4fa.d2726","type":"tab","label":"Form","disabled":false,"info":""},{"id":"51d677fe.a217b8","type":"mqtt-broker","z":"","name":"mqtt-broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"40da7c34.fb3894","type":"sqlitedb","z":"","db":"/home/jean/devices.db","mode":"RWC"},{"id":"57a27f71.ccd25","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d46706fc.3e8498","type":"ui_tab","z":"","name":"Tank","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"96470f4a.18f428","type":"ui_group","z":"","name":"Tank Level","tab":"d46706fc.3e8498","order":1,"disp":true,"width":6,"collapse":false},{"id":"d4001855.544278","type":"ui_group","z":"","name":"Temperature","tab":"d46706fc.3e8498","order":2,"disp":true,"width":"6","collapse":false},{"id":"48d270a1.81e12","type":"mqtt out","z":"957a4843.0b482","name":"","topic":"deviceTelemetry","qos":"","retain":"","broker":"51d677fe.a217b8","x":720,"y":120,"wires":[]},{"id":"735f0b8b.5b688c","type":"inject","z":"957a4843.0b482","name":"aaRead","topic":"deviceTelemetry","payload":"{\"id\":\"aa\",\"eventDataType\":\"read\",\"eventType\":\"tank_level\",\"read\":91}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":120,"wires":[["48d270a1.81e12"]]},{"id":"5e475e82.18f4d8","type":"mqtt in","z":"957a4843.0b482","name":"","topic":"deviceTelemetry","qos":"2","datatype":"auto","broker":"51d677fe.a217b8","x":100,"y":180,"wires":[["98b6ea87.eb0e18","bca627d7.9821c"]]},{"id":"c113f92c.9684f8","type":"sqlite","z":"957a4843.0b482","mydb":"40da7c34.fb3894","sqlquery":"msg.topic","sql":"","name":"devices.db","x":710,"y":240,"wires":[[]]},{"id":"67314044.345e6","type":"inject","z":"957a4843.0b482","name":"createTableReads","topic":"CREATE TABLE reads (read INTEGER PRIMARY KEY AUTOINCREMENT, id TEXT, eventDataType TEXT, dataType TEXT, data NUMERIC,timeStamp TEXT, processed INTEGER)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["c113f92c.9684f8"]]},{"id":"eb0a4057.46bbf","type":"inject","z":"957a4843.0b482","name":"dropTableReads","topic":"DROP TABLE reads","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":500,"wires":[["c113f92c.9684f8"]]},{"id":"96c24546.f456d8","type":"inject","z":"957a4843.0b482","name":"insertDataRead","topic":"INSERT INTO reads (id, eventDataType, dataType, data, timeStamp, processed) VALUES (\"aa\", \"READ\", \"tank_level\", 90, datetime('now'), 0)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["c113f92c.9684f8"]]},{"id":"543490cb.c0241","type":"inject","z":"957a4843.0b482","name":"listReads","topic":"SELECT * from reads","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":380,"wires":[["c113f92c.9684f8"]]},{"id":"98b6ea87.eb0e18","type":"function","z":"957a4843.0b482","name":"addDeviceData","func":"var data = JSON.parse(msg.payload);\nmsg.topic = \"INSERT INTO reads (id, eventDataType, dataType, data, timeStamp, processed) VALUES ('\"+data.id+\"','\"+data.eventDataType+\"','\"+data.eventType+\"',\"+data.read+\", datetime('now'), 0)\"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["c113f92c.9684f8"]]},{"id":"9eeedc44.f17138","type":"sqlite","z":"7beb4e98.b02f18","mydb":"40da7c34.fb3894","sqlquery":"msg.topic","sql":"","name":"devices.db","x":590,"y":40,"wires":[["f36b5ee4.974fc8"]]},{"id":"a1205c53.eb9c1","type":"inject","z":"7beb4e98.b02f18","name":"createTableReads","topic":"CREATE TABLE reads (read INTEGER PRIMARY KEY AUTOINCREMENT, id TEXT, eventDataType TEXT, dataType TEXT, data NUMERIC,timeStamp TEXT, processed INTEGER)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["9eeedc44.f17138"]]},{"id":"2753db19.83c134","type":"inject","z":"7beb4e98.b02f18","name":"dropTableReads","topic":"DROP TABLE reads","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":160,"wires":[["9eeedc44.f17138"]]},{"id":"a79c77fa.f4b1b","type":"inject","z":"7beb4e98.b02f18","name":"insertDataRead","topic":"INSERT INTO reads (id, eventDataType, dataType, data, timeStamp, processed) VALUES (\"aa\", \"READ\", \"tank_level\", 90, datetime('now'), 0)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":40,"wires":[["9eeedc44.f17138"]]},{"id":"3e81f05.f5f6a9","type":"inject","z":"7beb4e98.b02f18","name":"listReads","topic":"SELECT * from reads","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["9eeedc44.f17138"]]},{"id":"7a5b0435.1934fc","type":"http in","z":"7beb4e98.b02f18","name":"devices.request","url":"/devices","method":"get","upload":false,"swaggerDoc":"","x":120,"y":220,"wires":[["5be52fd7.4fd018"]]},{"id":"f36b5ee4.974fc8","type":"http response","z":"7beb4e98.b02f18","name":"apiResponse","statusCode":"","headers":{},"x":770,"y":40,"wires":[]},{"id":"5be52fd7.4fd018","type":"function","z":"7beb4e98.b02f18","name":"listDevices","func":"msg.topic = \"SELECT DISTINCT * from devices\"\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["9eeedc44.f17138"]]},{"id":"becdf41d.e03cc8","type":"http in","z":"7beb4e98.b02f18","name":"device.request","url":"/device/:device","method":"get","upload":false,"swaggerDoc":"","x":120,"y":280,"wires":[["78410f3b.abaef8"]]},{"id":"78410f3b.abaef8","type":"function","z":"7beb4e98.b02f18","name":"showDeviceDetail","func":"var device = msg.req.params.device\n\nmsg.topic = \"SELECT * from reads WHERE id = '\"+device+\"'\"\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":280,"wires":[["9eeedc44.f17138"]]},{"id":"a615d784.a3fd","type":"inject","z":"7beb4e98.b02f18","name":"createTableDevices","topic":"CREATE TABLE devices(id TEXT PRIMARY KEY, name TEXT, local TEXT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":420,"wires":[["4e6a8567.0f978c"]]},{"id":"4e6a8567.0f978c","type":"sqlite","z":"7beb4e98.b02f18","mydb":"40da7c34.fb3894","sqlquery":"msg.topic","sql":"","name":"devices.db","x":770,"y":340,"wires":[[]]},{"id":"63059146.76feb8","type":"inject","z":"7beb4e98.b02f18","name":"dropTableDevices","topic":"DROP TABLE devices","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":460,"wires":[["4e6a8567.0f978c"]]},{"id":"6854758d.9642f4","type":"inject","z":"7beb4e98.b02f18","name":"insertDevice","topic":"INSERT INTO  devices(id, name, local) VALUES (\"aa\",\"tank-sensor-1\",\"tank A\")","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["4e6a8567.0f978c"]]},{"id":"215c09a6.b84d2e","type":"inject","z":"7beb4e98.b02f18","name":"listDevices","topic":"SELECT * from devices","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":380,"wires":[["4e6a8567.0f978c"]]},{"id":"bca627d7.9821c","type":"link out","z":"957a4843.0b482","name":"mqttServer","links":["7869cc66.aa42f4"],"x":655,"y":180,"wires":[]},{"id":"e4ee657b.4270e","type":"mqtt out","z":"957a4843.0b482","name":"deviceCommands","topic":"deviceCommands","qos":"","retain":"","broker":"51d677fe.a217b8","x":730,"y":40,"wires":[]},{"id":"ecf6778c.c543e","type":"inject","z":"957a4843.0b482","name":"aaCommand","topic":"deviceCommands","payload":"{\"id\":\"aa\",\"eventDataType\":\"command\",\"eventType\":\"led\",\"command\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["e4ee657b.4270e"]]},{"id":"3fd469a1.19f6a6","type":"mqtt in","z":"64378259.0e3e04","name":"Tank Level","topic":"/devicesTelemetry/aa/tank_level/","qos":"2","datatype":"auto","broker":"51d677fe.a217b8","x":220,"y":120,"wires":[["d7827c2.dba408","10586851.0594d8"]]},{"id":"d7827c2.dba408","type":"ui_gauge","z":"64378259.0e3e04","name":"","group":"96470f4a.18f428","order":1,"width":0,"height":0,"gtype":"wave","title":"Level","label":"L","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":80,"wires":[]},{"id":"10586851.0594d8","type":"ui_chart","z":"64378259.0e3e04","name":"History","group":"96470f4a.18f428","order":2,"width":0,"height":0,"label":"History","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":200,"wires":[[]]},{"id":"ababfd69.bcb06","type":"mqtt in","z":"64378259.0e3e04","name":"Tank Temperature","topic":"/devicesTelemetry/aa/temperature/","qos":"2","datatype":"auto","broker":"51d677fe.a217b8","x":250,"y":360,"wires":[["f7c2f589.40b92","879f5ee6.1ff778"]]},{"id":"f7c2f589.40b92","type":"ui_gauge","z":"64378259.0e3e04","name":"","group":"d4001855.544278","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"oC","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":320,"wires":[]},{"id":"879f5ee6.1ff778","type":"ui_chart","z":"64378259.0e3e04","name":"History","group":"d4001855.544278","order":2,"width":0,"height":0,"label":"History","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":440,"wires":[[]]},{"id":"361c2dba.c52192","type":"http in","z":"9e2bb4fa.d2726","name":"","url":"/logbook","method":"get","upload":false,"swaggerDoc":"","x":210,"y":200,"wires":[["7db99b6.2db16e4"]]},{"id":"d0ebf9.ab8d2c08","type":"http in","z":"9e2bb4fa.d2726","name":"","url":"/logbookpost","method":"post","upload":false,"swaggerDoc":"","x":240,"y":400,"wires":[["19c30476.d8b7a4","a72e5fa2.0e0a78"]]},{"id":"7db99b6.2db16e4","type":"function","z":"9e2bb4fa.d2726","name":"msg.url = \"logbookpost\";","func":"msg.url = \"logbookpost\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":200,"wires":[["5e292f26.6abe88"]]},{"id":"19c30476.d8b7a4","type":"debug","z":"9e2bb4fa.d2726","name":"logbookpost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":400,"wires":[]},{"id":"e7b639cd.80e778","type":"http response","z":"9e2bb4fa.d2726","name":"","x":890,"y":360,"wires":[]},{"id":"681dd392.ea890c","type":"template","z":"9e2bb4fa.d2726","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":610,"y":300,"wires":[["b1dde2b2.f936b8"]]},{"id":"5e292f26.6abe88","type":"template","z":"9e2bb4fa.d2726","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":450,"y":300,"wires":[["681dd392.ea890c"]]},{"id":"ec050f0e.b78d6","type":"http response","z":"9e2bb4fa.d2726","name":"","x":890,"y":300,"wires":[]},{"id":"b1dde2b2.f936b8","type":"template","z":"9e2bb4fa.d2726","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Log book</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Tank log book</h2>\n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    \n    <label for=\"user\">User</label>\n    <input type=\"text\" id=\"user\" name=\"user\">\n\n    <label for=\"type\">Type</label>        \n        <select id=\"type\" name=\"type\">\n            <option value=\"feed\">Feed fishes</option>\n            <option value=\"check\">Check</option>\n            <option value=\"action\">Action</option>\n        </select>\n\n    <label for=\"data\">Data</label>\n    <input type=\"text\" id=\"data\" name=\"data\">\n\n    \n    \n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":750,"y":300,"wires":[["ec050f0e.b78d6"]]},{"id":"c4f5dbfa.feaef","type":"function","z":"9e2bb4fa.d2726","name":"return msg.payload to client","func":"msg.payload = 'The following data was submitted and available in the msg.payload: '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":360,"wires":[["e7b639cd.80e778"]]},{"id":"a72e5fa2.0e0a78","type":"json","z":"9e2bb4fa.d2726","name":"","x":430,"y":360,"wires":[["c4f5dbfa.feaef"]]},{"id":"2060902b.3d14f","type":"comment","z":"9e2bb4fa.d2726","name":"Form Submission","info":"","x":220,"y":300,"wires":[]}]